.beer-sidebar-list-wrapper  {
    .beer-item-thumb {
        padding: 21px;

        .beer-photo img {
            width: 100%
        }

        .title {
            color: darkorange
        }

    }
}